* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0c0c0cbc;
    color: #fff;
    padding: 15px;
}

header h1 {
    margin: 0px;
    font-size: 35px;
}

header ul {
    padding: 5px;
    list-style: none;
}

header li {
    display: inline;
    margin-right: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

header a:hover {
    color: #970000d0;
}