body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #242424;
    color: #c2c2c2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 30px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #c2c2c2;
    font-size: 25px;
    margin-bottom: 15px;
}

h3 {
    color: #970000d0;
    margin-bottom: 10px;
    font-size: 24px;
}

h3 a {
    color: #970000d0;
    text-decoration: none;
    font-size: 20px;
}

h3 a:hover {
    color: #690606d6;
    text-decoration: underline;
}